
{% extends 'nav.html' %}
{% block title %}
<title> Home</title>
{% endblock title %}
{% block body %}
<h1> Home page</h1>
{% endblock body %}
{% block con %}
<h1>hi hello</h1>
{% endblock con %}
<!-- FOllowing is code before we started extends. it is just that you can't write comments before extends -->
<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}"></head>

<body>
    <img src="{% static 'images/nilesh.jpeg' %}" height="600" width="600" />
    <h1>Yo This is Home page</h1>
</body>
</html> -->
